<p id="notice"><%= notice %></p>

<p>
  <strong>Branch code:</strong>
  <%= @branch_code_name.branch_code %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @branch_code_name.branch_name %>
</p>

<%= link_to 'Back', branch_code_names_path %>
